@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  background: linear-gradient(115deg, #ff1d58 60%, #0049B7 60%);
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  height: 100vh;
  padding: 1rem;
}

.container {
  padding: 1rem;
  background-color: #676b80;
  max-width: 100%;
  max-height: 100%;
  width: 30rem;
  color: #FFF;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  /* center div */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: .5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.title {
  margin: 1rem;
  opacity: .9;
  letter-spacing: 1.5px;
  font-size: 1.7rem;
}

.joke {
  font-size: 2rem;
  letter-spacing: .1rem;
  margin: 1.5rem auto;
  /* background-color: #03cafc; */
  min-width: 20rem
}

.btn {
  margin: 1rem;
  border: none;
  background-color: #FFF;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (min-width:768px) {
  .container{
    width: 65rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .joke {
    font-size: 3rem;
  }
}